.sectionStack {
  width: 100%;
  padding: 2rem 2.5rem;
}

.ctaLink {
  color: var(--blanco);
  z-index: 2;
}

.sectionItem {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 3rem;
  max-height: 100vh;
}

/* Imágenes */
.imgRepresentationDesignA img,
.imgeWrapperDesignA img,
.imgTituleDesignB img,
.imgBotonDesignC img,
.imgDesignC img,
.imgRepresentationDesignE img,
.imgeWrapperDesignE img {
  width: 100%;
  height: auto;
}

/* Imágenes con width: 120% */
.imgRepresentationDesignA img,
.imgRepresentationDesignC img,
.imgRepresentationDesignE img {
  width: 120%;
}

/* Botones */
.buttonDesignB,
.buttonDesignC,
.buttonDesignE {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 200px;
  height: 60px;
  background: linear-gradient(-45deg, var(--vinoOsc), var(--vinoClr));
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 800;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.buttonDesignB::before,
.buttonDesignC::before,
.buttonDesignE::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.5;
  z-index: -1;
  transform: scale(0.75);
  transition: transform 0.4s ease;
  filter: blur(10px);
}

.buttonDesignB:hover,
.buttonDesignC:hover,
.buttonDesignE:hover {
  box-shadow: 0 0 25px var(--vinoClr), 0 0 15px var(--doradoClr);
}

.buttonDesignB:hover::before,
.buttonDesignC:hover::before,
.buttonDesignE:hover::before {
  transform: scale(1.2);
}

/* Hover únicos para cada botón */
.buttonDesignB:hover {
  transform: translateY(-20px) scale(1.05);
}

.buttonDesignC:hover,
.buttonDesignE:hover {
  transform: translateX(20px) translateY(-10px) scale(1.05);
}

/* --- Sección designA --- */
.designA {
  display: flex;
  background: var(--vinoGradient);
}

.bgImgDesignA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgImgDesignA img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerDesignA {
  display: flex;
  width: 100%;
  height: 100%;
}

.imgRepresentationDesignA {
  width: 55%;
  height: 100%;
  z-index: 500;
}

/* WRAPPER DE BOTÓN Y TEXTO */
.imgeWrapperDesignA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  z-index: 400;
}

/* BOTÓN */
.imgBotonDesignA {
  position: relative;
  top: -5rem;
  width: 90%;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

.imgBotonDesignA img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.imgBotonDesignA img:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

/* OVERLAY DEL TEXTO */
.overlayTextDesignA {
  position: relative;
  width: 110%;
  background: var(--vinoClr);
  padding: 1rem 8rem 1rem calc(8rem + 10%);
}

.overlayTextDesignA p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--blanco);
  text-align: center;
  padding: 0 1rem;
}

/* --- Sección designB --- */
.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(26, 26, 26, 0.596) 100%);
  z-index: -1;
}

.designB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  border-radius: 3rem;
  gap: 1rem;
  margin: 1.5rem 0;
}

.overlayTextDesignB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  gap: 1rem;
}

.imgTituleDesignB {
  width: 100%;
  height: auto;
}

.overlayTextDesignB p {
  font-size: clamp(1.2rem, 2vw + 0.8rem, 2.5rem);
  font-weight: 500;
  color: var(--blanco);
  padding: 0.8rem 1.3rem;
  margin: 0;
  text-align: center;
}

/* --- Sección designC --- */
.designC {
  display: flex;
  background: var(--grisGradient);
}

.bgImgDesignC {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgImgDesignC img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerDesignC {
  display: flex;
  width: 100%;
  height: 100%;
}

.imgRepresentationDesignC {
  width: 55%;
  height: 100%;
  z-index: 500;
}

/* WRAPPER DE BOTÓN Y TEXTO */
.imgeWrapperDesignC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  z-index: 400;
}

/* BOTÓN */
.imgBotonDesignC {
  position: relative;
  top: -5rem;
  width: 90%;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

.imgBotonDesignC img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.imgBotonDesignC img:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

/* OVERLAY DEL TEXTO */
.overlayTextDesignC {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150%;
  background: var(--vinoOsc);
  padding: 1rem 20rem 1rem calc(4rem + 10%);
}

.overlayTextDesignC p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--blanco);
  text-align: center;
  padding: 0 1rem;
}

.overlayTextDesignC span {
  font-weight: 600;
}

.goldenLink {
  color: var(--doradoClr);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.goldenLink:hover {
  color: var(--doradoOsc);
  cursor: pointer;
}


/* --- Sección designE --- */
.designE {
  display: flex;
  background: var(--doradoGradient);
}

.bgImgDesignE {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgImgDesignE img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerDesignE {
  display: flex;
  width: 100%;
  height: 100%;
}

.imgRepresentationDesignE {
  width: 55%;
  height: 100%;
  z-index: 500;
}

/* WRAPPER DE BOTÓN Y TEXTO */
.imgeWrapperDesignE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  z-index: 400;
}

/* BOTÓN */
.imgBotonDesignE {
  position: relative;
  top: -5rem;
  width: 90%;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

.imgBotonDesignE img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.imgBotonDesignE img:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

/* OVERLAY DEL TEXTO */
.overlayTextDesignE {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 110%;
  background: var(--grisOsc);
  padding: 1rem 8rem 1rem calc(8rem + 10%);
}

.overlayTextDesignE p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--blanco);
  text-align: center;
  padding: 0 1rem;
}


@media (max-width: 768px) {
  .sectionStack {
    padding: 1rem;
  }

  .sectionItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 3rem;
    max-height: 100vh;
  }

  .overlayTextDesignB p {
    width: 150%;
  }

  .imgRepresentationDesignA,
  .imgRepresentationDesignC,
  .imgRepresentationDesignE {
    width: 100%;
    height: auto;
    z-index: 500;
  }

  .imgeWrapperDesignA,
  .imgeWrapperDesignC,
  .imgeWrapperDesignE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 700;
  }

  .overlayTextDesignA {
    position: relative;
    width: 100%;
    background: var(--vinoClr);
    padding: 0.8rem 0.5rem;
  }

  .overlayTextDesignA p {
    font-size: 0.8rem;
    padding: 0 1rem;
  }

  .overlayTextDesignC {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background: var(--vinoOsc);
    padding: 0.8rem 0.5rem;
  }

  .overlayTextDesignC p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--blanco);
    text-align: center;
    padding: 0 1rem;
  }

  .imgRepresentationDesignA img,
  .imgRepresentationDesignC img,
  .imgRepresentationDesignE img {
    width: 100%;
  }

  .imgBotonDesignA {
    top: 0;
    width: 100%;
    padding: 0.8rem 0.5rem;
  }

  .imgBotonDesignC {
    position: absolute;
    top: 36%;
    left: 0;
    width: 100%;
    padding: 0.8rem 0.5rem;
  }

  .overlayTextDesignE {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background: var(--grisOsc);
    padding: 0.8rem 0.5rem;
  }

  .overlayTextDesignE p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--blanco);
    text-align: center;
    padding: 0 1rem;
  }

  .imgBotonDesignE {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0.8rem 0.5rem;
  }


  .containerDesignA,
  .containerDesignB,
  .containerDesignC,
  .containerDesignE {
    flex-direction: column;
  }
}

@media (max-width: 425px) {

  .containerDesignA,
  .containerDesignB,
  .containerDesignC,
  .containerDesignE {
    flex-direction: column;
  }
}

/* @media (max-width: 1199px) and (min-width: 1024px) { ... }
@media (max-width: 1023px) { ... }
@media (max-width: 767px) { ... } */